@font-face {
font-family: "unch";
src:url(font/shadow.ttf) format("truetype");
}
body{
margin: 0;
height: 100%;
width: 100%;
max-width: 100%;
}
form {
position: relative;
margin: auto;
}
.d1 input {
height: 42px;
padding-left: 10px;
border: 2px solid #ffffff;
border-radius: 5px;
outline: none;
background: #FFFFFF;
color: #9E9C9C;
}
body {
background: #fff;
font-size: 20px;
font-family: 'unch', sans-serif;
font-weight: 300;
}
h2 {
font-size: 30px;
}
h2 a{
font-size: 30px;
color: #fff;
}
h3 {
font-size: 25px;
padding: 20px 0px 0px;
}
h4 {
font-size: 40px;
color: #c56518;
margin:0;
}
h5 {
font-size: 25px;
}
h1 a, h3 a, h4 a, h5 a {
color: #000;
text-decoration: none;
}

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong {
font-weight: 600;
}
a:hover {
color: #c56518;
border-bottom-color: transparent;
}
p {
display: block;
font-size: 20px;
line-height: 50px;
}
p2 {
color: #DCDDE0;
display: block;
font-size: 15px;
margin: -20px 0px 30px 0px;
line-height: 50px;
}
hr{
border: none; /* Убираем границу */
    background-color:#fff; /* Цвет линии */
    color: #fff; /* Цвет линии для IE6-7 */
    height: 3px; /* Толщина линии */	
	width: 100%;
}
.banner {
position: relative;
margin: 0px auto 0 auto;
padding: 20px 20px 20px;
width: 800px;
height:auto;
background: #262324;
border-radius: 3px;
}
.banner2 {
position: relative;
margin: 0px auto 0 auto;
padding: 20px 20px 20px;
width: 890px;
height:65px;
background: #262324;
border-radius: 3px;
}
#fon1 {
position: relative;
margin: 0;
color: #fff;
text-align: center;
}
#fon1 h1 {
color: #fff;
font-size: 90px;
}
#fon1 h1 a {
color: #ffffff;
}
#fon1 .button {
border-radius: 100%;
width: 120px;
height: 120px;
line-height: 120px;
font-size: 120,5px;
padding: 0;
}
.exclusive {
    padding: 5px;
    float: left;
    margin-right: 2%;
	margin: 70px 80px 50px 200px;
}
.polozenie {

}
.game {
width: 15em;
background: #fff;
text-align: center;
margin: 40px 100px 0px 0px;
border-radius: 10px;
border-width: medium ;
}
.game:hover {
	background: #fff;
	transform: scale(1.1);
	transition: 1s; /* Время эффекта */

}
   .game {
    transition: 1s; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */
   }
   .game:hover :hover {
    transform: scale(1.1,5); /* Увеличиваем масштаб */
   }

.image img {
width: 15em;
transition: 3s;
 width: 300px;
 height: 300px;
}
.container {
  overflow: hidden;

}

input[type=submit] {
border: none;
font-size: 0.9em;
text-align: center;
background: #fff;
color: #000;
position: relative;
text-decoration: none;
padding:10px 10px;
transition:all 0.3s;
font-family: 'unch', sans-serif;
border-radius: 5px;
border-style:dashad;
border-color:#fff;
border-style:inset;	
width:60%;
justify-content: center;	
}
input[type=submit]:hover {
color: #c56518;
background: #262324;
border-color:#c56518;
border-style:inset;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
	margin-left: 7%;
	margin-bottom: 10px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: #c56518;
    color: black;
}
.msg {
    border: 2px solid #ffa908;
    border-radius: 3px;
    margin: 10px 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
 .tabs {
    font-size: 0;
	margin-top: 3%;
  }

  .tabs>input[type="radio"] {
    display: none;
  }

  .tabs>div {
    /* скрыть контент по умолчанию */
    display: none;
    padding: 0px 0px;
    font-size: 16px;
  }

  /* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
  #tab-btn-1:checked~#content-1,
  #tab-btn-2:checked~#content-2,
  #tab-btn-3:checked~#content-3 {
    display: block;
  }

  .tabs>label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
	padding: 10px 10px;
    font-size: 16px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 1px;
	color: #fff;
	width:200px;
	height:25px;
	border-style:inset;
	border-radius: 5px;
	border-color:#fff;
  }

  .tabs>label:not(:first-of-type) {
    border-left: none;
  }

  .tabs>input[type="radio"]:checked+label {
    background-color: #c56518;
    border-bottom: 1px solid #000;
  }

input {
margin: 10px 10px;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
	border: 1px solid;
border-radius: 2px;
	color: #000000;
background: white;
border: 1px solid;
border-radius: 2px;
width:300px;
}
button {
padding: 10px;
background: #fff;
border: unset;
cursor: pointer;
width: 250px;
position: relative;
border-radius: 5px;
border-style:dashad;
border-color:#fff;
border-style:inset;	
transition: all 0.1s linear;
margin: auto;
cursor: pointer;
}
button:hover {
color: #c56518;
background: #262324;
border-color:#c56518;
border-style:inset;
transition: all 0.2s linear
cursor: pointer;
}
